<html>
	<head>
		<title>Kultur Huset</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="shortcut icon" href="images/house.png" />

	</head>
	<body>

		
			<header id="header">
				<a href="/" class="logo">Kultur Huset</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/Omos">Om os</a></li>
					<li><a href="">Booking</a></li>
				</ul>
			</nav>

	
			

		
			<article id="one" class="post style1">

			

			</article>

		
		
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				
			</footer>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>