
<html>
	<head>
		<title>Kultur Huset</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="css/main.css" />
		<link rel="shortcut icon" href="images/house.png" />

	</head>
	<body>

		
			<header id="header">
				<a href="/" class="logo">Kultur Huset</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		
			<nav id="menu">
				<ul class="links">
					<li><a href="/index">Home</a></li>
					<li><a href="/Omos">Om os</a></li>
					<li><a href="">Booking</a></li>
					
				</ul>
			</nav>

	
			<section id="banner">
				<div class="inner">
					<h1>Kultur Huset</h1>
					<h4>Vi giver dig oplevelser til livet</h4>
				</div>
			</section>

		

			<article id="two" class="post invert style1 alt">
					<input id="soge" onkeyup="soge();" type="text" placeholder="" class="col-md-2">
				<select id="selectkategori" onchange="Udskrivdata();" class="col-md-2">
					
					<option value="0">Alle Events</option>
					<option value="1">Film</option>
					<option value="2">Koncerter</option>
					<option value="3">Foredrag</option>
					<option value="4">teater</option>
					
				</select>
				<div id="content" class="col-md-3"></div>
				<div id="productsList1" class="col-md-3"></div>
				

				  
			</article>

			<article>
				<h4>Booking:</h4>
				
					<form action="">
						Kundenummer:<br>
						<input type="text" name="" value="">
						<br>
						E-mail:
						<br>
						<input type="text" name="E-mail" value="">
						
						<br><br>
						<input type="submit" value="Submit">
					  </form> 
			</article>

		
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					
				</ul>
				
			</footer>

	
			<script src="/js/script.js"></script>
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>